* { 
    padding: 0;
    margin: 0;
}

body { 
    background-color: #2C2F33;
    height: 100vh;
    width: 100vw;
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-template-rows: auto auto auto auto auto auto;
}


.inputField{
    grid-area: 1 / 1/ 1/ 5;


}
/* 
.delete{
    grid-row-start:2;
    grid-row-end: 2;
    grid-column-start: 1;
    grid-column-end: 2;

} */

/* button{
    height: 100%;
    width: 100%;   
    font-size: 20px;
    border: none;
    border-radius: 50%;
} */

input{ 
    font-size: 4vh;
    text-align: right; 
    border: none;
    background-color: #99AAB5;
    color: white;
}

button{ 
    /* padding: 50%;
    height: 50%; */
    /* border-radius: 50%; */
    font-size: 25px;
    background-color: #7289DA;
    color: white;
    border: none;
    outline:white solid 1px ;
}

.zero{
    grid-area: 6 / 1/ 6/ 3;
}